.container {
  max-width: 1000px;
  margin: 0 auto;
  @media screen and (max-width: 480px){
    width: 90%;
  }
}
section {
  margin-bottom: 40px;
}

.ttl {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin: 40px 0px;
  @media screen and (max-width: 480px) {
    font-size: 30px;
  }
}
$base-c:#e37ab0;
$second-c:#6f99e3;
@mixin imgbase {
  img{
    width: 100%;
  }
}
@mixin ancker {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  background-color: $base-c;
  border-radius: 25px;
  text-align: center;
}
@mixin  flexbase {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-responsive {
  display: flex;
  flex-direction: column;
}
@mixin bg-color {
  background-color: #FFDFF7;
}
@mixin section-space {
  padding: 25px 0;
  margin: 25px 0;
}

header{
  margin-bottom: 40px;
  a {
    text-decoration:none;
}
}

.fview {
  @include flexbase ;
  margin-bottom: 25px;
  &__imgflame{
    width:150px;
    &__img{
      @include imgbase;
    }
  }
}
.fview-nav {
  display: flex;
  justify-content: space-between;
  .nav__link {
    text-decoration: none;
    margin-left: 10px;
    li {
      list-style: none;
    }
  }
}
.signup {
  display: flex;
  a {
    display: block;
    color: white;
    padding:10px 25px;
    border-radius: 25px;
  }
  &__materials{
    background-color: $base-c;
    margin-right: 10px;
  }
  &--c-account {
    background-color: $second-c;
  }
}
@media screen and (max-width: 480px) {
  .fview-nav {
    display: none;
  }
}


.top {
  background-image: url(img/fv__bg-pc.svg);
  background-size: cover;
  &__flex{
    @include flexbase ;
    flex-wrap: wrap;
    .top__text {
      width: 60%;
      h1 {
        font-size: 45px;
        margin-bottom: 20px;
        line-height: 60px;
      }
      p {
        margin-bottom: 20px;
      }
      .top__materials {
        @include ancker;
        width: 50%;
      }
    }
    .top__imgflame {
      width: 30%;
      margin: 0 auto;
      .top__img {
        @include imgbase;
      }
    }
  }
}
@media screen and (max-width: 780px) {
}
@media screen and (max-width: 480px) {
  .top{
    background-image: url(img/fv__bg-sp.svg);
    background-size: cover;
    &__flex {
      .top__text {
        width: 100%;
        position: relative;
        h1 {
          font-size: 32px;
        }
        .top__materials {
          position: absolute;
          top: 550px;
          left: 50%;
          transform: translate(-50%, 0%);
          width: 100%;
        }
      }
      .top__imgflame {
        width: 80%;
        padding-bottom: 50px;
        text-align: center;
        .top__img {
          width: 100%;
        }
      }
    }
  }
}

.concept {
  @include flexbase ;
  flex-wrap: wrap;
  @include bg-color ;
  padding: 25px 0;
  .concept__imgflame {
    width: 40%;
    .concept__img {
      width: 100%;
    }
  }
  .concept__text {
    width: 50%;
    font-size: 45px;
  }
}
@media screen and (max-width: 480px){
  .concept {
    .concept__imgflame {
      width: 40%;
      margin: 0 auto;
      .concept__img {
        width: 40%;
      }
    }
    .concept__text {
      width: 50%;
      margin: 0 auto;
      font-size: 12px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px;
    }
  }
}
@media screen and (max-width: 780px){
  .concept {
    .concept__imgflame {
      width: 50%;
      margin: 0 auto;
      .concept__img {
        width: 100%;
      }
    }
    .concept__text {
      width: 50%;
      margin: 0 auto;
      font-size: 12px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 25px;
    }
  }
}

.task__flex {
  @include flexbase;
  @include section-space;
  .task__flame {
    width: 30%;
    .task__imgflame {
      @include imgbase ;
      .task__img {
        @include imgbase ;
      }
    }
    .task__text {
      text-align: center;
    }
  }
}
@media screen and (max-width: 480px) {
  .task__flex {
    flex-direction: column;
    .task__flame{
      @include flexbase ;
      justify-content: space-between;
      width: 100%;
      .task__imgflame {
        width: 40%;
      }
      .task__text {
        font-size: 18px;
        width: 50%;
        text-align: left
      }
      .task__1 {
        order: 2;
      }
      .task__2 {
        order: 1;
      }
    }
    
    
  }
}

.clear {
  @include bg-color;
  @include section-space;
}
.clear__content {
  @include flexbase ;
  flex-wrap: wrap;
  .clear__text {
    width: 50%;
    .clear__text-flex {
      display: flex;
      text-align: center;
      align-items: center;
      h1 {
        font-size: 1.5em;
        text-align: left;
        margin-bottom: 30px;
      }
      .clear__number{
        color: $base-c;
        font-size: 25px;
        margin-right: 15px;
      } 
    }
  }
  .clear__imgflame {
    width: 40%;
    .clear__img {
    width: 100%;
    }
  }
}
@media screen and (max-width: 480px) {
  .clear__content {
    flex-direction: column;
    margin-bottom: 25px;
    .clear__text {
      width: 100%;
      .clear__text-flex{
        flex-direction: column;
        align-items: flex-start;
        font-size: 15px;
        h1 {
          margin: 0;
        }
      }
    }
    .clear__imgflame {
      width: 100%;
      .concept__img {
        width: 100%;
      }
    }
  }
  .clear__1 {
    order: 2;
  }
  .clear__2 {
    order: 1;
  }
}

.feature {
  @include section-space;
}
.feature__flex {
  @include flexbase ;
  .flex__item {
    box-shadow: $base-c 0px 0px 5px , $base-c -0px -0px 5px;
    width: 15%;
    border-radius: 15px;
    text-align: center;
    p {
      margin: 5px 0;
    }
    .feature__imgflame {
      margin-top: 5px;
      width: 100% ;
      .feature__img {

        @include imgbase ;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .feature__flex {
    flex-wrap: wrap;
    .flex__item {
      width: 48%;
      margin-bottom: 15px;
      p {
        margin: 3px 0;
      }
    }

  }
}

.signup-page {
  padding: 30px 0;
  background-color: $base-c;
  @include section-space;
  h2 {
    text-align: center;
    color:white;
    // margin-bottom: 20px;
    font-size: 20px;
  }
  .signup-page__btn {
    display: flex;
    justify-content: center;
    .signup-page__materials {
      display: inline-block;
      @include ancker ;
      background-color: $second-c;
      width: 35%;
      margin-right: 30px;
    }
    .signup-page__c-account {
      display: inline-block;
      @include ancker ;
      background-color:white;
      border:2px solid #e37ab0;      
      color: #e37ab0;
      width: 35%;
    }
  }
}
@media screen and (max-width: 480px) {
  .signup-page {
    h2 {
      font-size: 25px
    }
    .container{
      .signup-page__btn {
        flex-wrap: wrap;
        margin-bottom: 20px;
        a {
          width: 100%;
        }
        .signup-page__materials {
          margin-right:0;
          margin-bottom: 10px; 
          padding: 10px 0px;
        }
        .signup--c-account{
          padding: 10px 0px;
        }
      }
    }

    }
  }

.example {
  @include section-space;
}
.example__flex {
  @include flexbase;
  width: 90%;
  margin: 0 auto;
  .example__item {
    width: 18%;
    border-radius: 5px;
    box-shadow: lightgray 0px 1px 3px , lightgray 0px -1px 3px ;
    .example__imgflame{
      @include imgbase;
      .example__img {
        @include imgbase;
        border-radius: 5px;
      } 
    }
    .example__textbox {
      padding: 20px 10px 10px 10px;
      position: relative;
      .example__tag {
        position: absolute;
        top: -20px;
        padding: 5px 8px;
        border: 1px solid $base-c;
        background-color: white;
      }
      .example__name {
        margin-top: 15px;
      }
      .example__text {
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        margin: 15px 0;
        padding: 0 10px;
        &__spbr {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .example__flex {
    overflow-x: auto;
    white-space: nowrap;
    .example__item {
      display: inline-block;
      width: 100%;
      // margin-bottom: 10px;
      &__spbr {
        display: block;
      }
    }
  }
}

.cost {
  @include section-space  ;
}
.cost__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  .cost__item {
    width: 33%;
    border-radius: 15px;
    box-shadow: lightgray 0px 1px 3px , lightgray 0px -1px 3px ;

    .cost__plan {
      color: white;
      h2 {
        font-size: 35px;
        margin: 0px 0px 20px 0px;
        padding-bottom: 20px;
      }
      .cost--for-month {
        font-size: 25px;
      }
    }
    .cost__plan-contents {
      .cost__plan-marit {
        border-bottom: 1px solid lightgray;
        width: 90%;
        margin: 0 auto 20px auto;
      }
      .cost__plan-apply {
        @include ancker ;
        background-color: lightgray;
        color: black;
      }
      a {
        width: 80%;
        display: block;
        margin: 0 auto 20px auto;
      }
    }
  }
}
.cib {
  background-color: $second-c;
  border-radius: 15px 15px 0 0 ;
  p{
    margin: 0;
    padding: 20px 0;
  }
}
.cip {
  background-color: $base-c;
  border-radius: 15px 15px 0 0 ;
  p {
    margin: 0px 0;
    padding: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  .cost__flex {
    flex-direction: column;
    width: 85%;
    .cost__item {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.container__little{
  width: 55%;
  margin: 0 auto;
}
.question__box {
  margin-bottom: 30px;
  .question__title {
    display: flex;
    align-items: center;
    color: $base-c;
    border:$base-c 1px solid ;
    border-radius: 10px;
    padding: 25px;
    margin: none;
    margin-bottom: 20px;
    font-size: 25px;
    .question__Q {
      padding-right: 15px;
    }
  }
  .question__answer {
    display: flex;
    padding: 0px 10px;
    font-size: 18px;
    .question__A {
      color: $second-c;
      padding: 0px 10px;
      font-size: 25px;
      align-items: flex-start;
    }
  }
}
@media screen and (max-width: 480px) {
  .container__little {
    width: 85%;
    .question__box {
      .question__title {
        .question__ttl-text {
          font-size: 16px
        }
      }
      .question__answer{
        align-items: flex-start;
        .question__A {
          padding: 0px 10px;
        }
      }
    }
  }
}

.tryit {
  @include section-space ;
  margin-bottom: 0;
  background-color: $base-c;
  .white {
    color: white;
  }
  .tryit__link{
    @include flexbase ;
    justify-content: center
  }
  .view__materials {
    @include ancker ;
    display: inline-block;
    background-color: $second-c;
    width: 35%;
    margin-right: 30px;
    font-size: 20px;
    padding: 15px;
  }
  .view--c-account{
    @include ancker ;
    display: inline-block;
    background-color:white;
    border:2px solid #e37ab0;      
    color: #e37ab0;
    width: 35%;
    font-size: 20px;
    padding: 15px;
  }
}
@media screen and (max-width: 480px) {
  .tryit {
    .tryit__ttl{
      font-size: 20px; 
      padding: 0px 10px
    }
  }
  .tryit__flex {
    .tryit__link{
      flex-direction: column;
      margin-bottom: 20px;
      a {
        width: 85%;
        padding: 10px 0 ;
        margin: 0 auto
      }
      .view__materials {
        margin-bottom: 10px
      }

    }
  }
}

.end-link {
  @include bg-color;
  padding: 25px 0;
  margin-bottom: 0px;
}
.end-link__flex-content {
  display: flex ;
  justify-content: space-between;
  .end-link__imgflame {
    width: 15%;
    .end-link__img {
      @include imgbase;
    }
  }
  .end-link__flex {
    @include flexbase;
    justify-content: space-between;
    width: 70%;
    padding: 20px 0 30px;
    .end-link__flex-item {
      li {
        list-style: none;
        margin-bottom: 10px;
      }
      a {
        text-decoration: none;
      }
    }
    .left {
      margin: left;
    }
  }
}
@media screen and (max-width: 480px) {
  .end-link__flex-content {
    flex-direction: column;
    justify-content: left;
    .end-link__imgflame {
      margin-bottom: 15px;
    }
    .end-link__flex {
      flex-direction: column;
      align-items: flex-start;
      .end-link__flex-item {
        margin: 0;
        li {
          margin-bottom: 10px;
        }
      }
      .left {
        margin: 0;
      }
    }
  }
}



footer {
  text-align: center;
  @include bg-color;
  padding-bottom: 10px;
}