.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}

section {
  margin-bottom: 40px;
}

.ttl {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin: 40px 0px;
}

@media screen and (max-width: 480px) {
  .ttl {
    font-size: 30px;
  }
}

header {
  margin-bottom: 40px;
}

header a {
  text-decoration: none;
}

.fview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.fview .fview__imgflame {
  width: 150px;
}

.fview .fview__imgflame .fview__img img {
  width: 100%;
}

.fview-nav {
  display: flex;
  justify-content: space-between;
}

.fview-nav .nav__link {
  text-decoration: none;
  margin-left: 10px;
}

.fview-nav .nav__link li {
  list-style: none;
}

.signup {
  display: flex;
}

.signup a {
  display: block;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
}

.signup .signup__materials {
  background-color: #e37ab0;
  margin-right: 10px;
}

.signup .signup--c-account {
  background-color: #6f99e3;
}

@media screen and (max-width: 480px) {
  .fview-nav {
    display: none;
  }
}

.top {
  background-image: url(img/fv__bg-pc.svg);
  background-size: cover;
}

.top .top__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top .top__flex .top__text {
  width: 60%;
}

.top .top__flex .top__text h1 {
  font-size: 45px;
  margin-bottom: 20px;
  line-height: 60px;
}

.top .top__flex .top__text p {
  margin-bottom: 20px;
}

.top .top__flex .top__text .top__materials {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  background-color: #e37ab0;
  border-radius: 25px;
  text-align: center;
  width: 50%;
}

.top .top__flex .top__imgflame {
  width: 30%;
  margin: 0 auto;
}

.top .top__flex .top__imgflame .top__img img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .top {
    background-image: url(img/fv__bg-sp.svg);
    background-size: cover;
  }
  .top .top__flex .top__text {
    width: 100%;
    position: relative;
  }
  .top .top__flex .top__text h1 {
    font-size: 32px;
  }
  .top .top__flex .top__text .top__materials {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
  }
  .top .top__flex .top__imgflame {
    width: 80%;
    padding-bottom: 50px;
    text-align: center;
  }
  .top .top__flex .top__imgflame .top__img {
    width: 100%;
  }
}

.concept {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFDFF7;
  padding: 25px 0;
}

.concept .concept__imgflame {
  width: 40%;
}

.concept .concept__imgflame .concept__img {
  width: 100%;
}

.concept .concept__text {
  width: 50%;
  font-size: 45px;
}

@media screen and (max-width: 480px) {
  .concept .concept__imgflame {
    width: 40%;
    margin: 0 auto;
  }
  .concept .concept__imgflame .concept__img {
    width: 40%;
  }
  .concept .concept__text {
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  }
}

@media screen and (max-width: 780px) {
  .concept .concept__imgflame {
    width: 50%;
    margin: 0 auto;
  }
  .concept .concept__imgflame .concept__img {
    width: 100%;
  }
  .concept .concept__text {
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
  }
}

.task__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  margin: 25px 0;
}

.task__flex .task__flame {
  width: 30%;
}

.task__flex .task__flame .task__imgflame img {
  width: 100%;
}

.task__flex .task__flame .task__imgflame .task__img img {
  width: 100%;
}

.task__flex .task__flame .task__text {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .task__flex {
    flex-direction: column;
  }
  .task__flex .task__flame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .task__flex .task__flame .task__imgflame {
    width: 40%;
  }
  .task__flex .task__flame .task__text {
    font-size: 18px;
    width: 50%;
    text-align: left;
  }
  .task__flex .task__flame .task__1 {
    order: 2;
  }
  .task__flex .task__flame .task__2 {
    order: 1;
  }
}

.clear {
  background-color: #FFDFF7;
  padding: 25px 0;
  margin: 25px 0;
}

.clear__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.clear__content .clear__text {
  width: 50%;
}

.clear__content .clear__text .clear__text-flex {
  display: flex;
  text-align: center;
  align-items: center;
}

.clear__content .clear__text .clear__text-flex h1 {
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 30px;
}

.clear__content .clear__text .clear__text-flex .clear__number {
  color: #e37ab0;
  font-size: 25px;
  margin-right: 15px;
}

.clear__content .clear__imgflame {
  width: 40%;
}

.clear__content .clear__imgflame .clear__img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .clear__content {
    flex-direction: column;
    margin-bottom: 25px;
  }
  .clear__content .clear__text {
    width: 100%;
  }
  .clear__content .clear__text .clear__text-flex {
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
  }
  .clear__content .clear__text .clear__text-flex h1 {
    margin: 0;
  }
  .clear__content .clear__imgflame {
    width: 100%;
  }
  .clear__content .clear__imgflame .concept__img {
    width: 100%;
  }
  .clear__1 {
    order: 2;
  }
  .clear__2 {
    order: 1;
  }
}

.feature {
  padding: 25px 0;
  margin: 25px 0;
}

.feature__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__flex .flex__item {
  box-shadow: #e37ab0 0px 0px 5px, #e37ab0 0px 0px 5px;
  width: 15%;
  border-radius: 15px;
  text-align: center;
}

.feature__flex .flex__item p {
  margin: 5px 0;
}

.feature__flex .flex__item .feature__imgflame {
  margin-top: 5px;
  width: 100%;
}

.feature__flex .flex__item .feature__imgflame .feature__img img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .feature__flex {
    flex-wrap: wrap;
  }
  .feature__flex .flex__item {
    width: 48%;
    margin-bottom: 15px;
  }
  .feature__flex .flex__item p {
    margin: 3px 0;
  }
}

.signup-page {
  padding: 30px 0;
  background-color: #e37ab0;
  padding: 25px 0;
  margin: 25px 0;
}

.signup-page h2 {
  text-align: center;
  color: white;
  font-size: 20px;
}

.signup-page .signup-page__btn {
  display: flex;
  justify-content: center;
}

.signup-page .signup-page__btn .signup-page__materials {
  display: inline-block;
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  background-color: #e37ab0;
  border-radius: 25px;
  text-align: center;
  background-color: #6f99e3;
  width: 35%;
  margin-right: 30px;
}

.signup-page .signup-page__btn .signup-page__c-account {
  display: inline-block;
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  background-color: #e37ab0;
  border-radius: 25px;
  text-align: center;
  background-color: white;
  border: 2px solid #e37ab0;
  color: #e37ab0;
  width: 35%;
}

@media screen and (max-width: 480px) {
  .signup-page h2 {
    font-size: 25px;
  }
  .signup-page .container .signup-page__btn {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .signup-page .container .signup-page__btn a {
    width: 100%;
  }
  .signup-page .container .signup-page__btn .signup-page__materials {
    margin-right: 0;
    margin-bottom: 10px;
    padding: 10px 0px;
  }
  .signup-page .container .signup-page__btn .signup--c-account {
    padding: 10px 0px;
  }
}

.example {
  padding: 25px 0;
  margin: 25px 0;
}

.example__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.example__flex .example__item {
  width: 18%;
  border-radius: 5px;
  box-shadow: lightgray 0px 1px 3px , lightgray 0px -1px 3px;
}

.example__flex .example__item .example__imgflame img {
  width: 100%;
}

.example__flex .example__item .example__imgflame .example__img {
  border-radius: 5px;
}

.example__flex .example__item .example__imgflame .example__img img {
  width: 100%;
}

.example__flex .example__item .example__textbox {
  padding: 20px 10px 10px 10px;
  position: relative;
}

.example__flex .example__item .example__textbox .example__tag {
  position: absolute;
  top: -20px;
  padding: 5px 8px;
  border: 1px solid #e37ab0;
  background-color: white;
}

.example__flex .example__item .example__textbox .example__name {
  margin-top: 15px;
}

.example__flex .example__item .example__textbox .example__text {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin: 15px 0;
  padding: 0 10px;
}

@media screen and (max-width: 480px) {
  .example__flex {
    flex-direction: column;
  }
  .example__flex .example__item {
    width: 100%;
    margin-bottom: 10px;
  }
}

.cost {
  padding: 25px 0;
  margin: 25px 0;
}

.cost__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.cost__flex .cost__item {
  width: 33%;
  border-radius: 15px;
  box-shadow: lightgray 0px 1px 3px , lightgray 0px -1px 3px;
}

.cost__flex .cost__item .cost__plan {
  color: white;
}

.cost__flex .cost__item .cost__plan h2 {
  font-size: 35px;
  margin: 0px 0px 20px 0px;
  padding-bottom: 20px;
}

.cost__flex .cost__item .cost__plan .cost--for-month {
  font-size: 25px;
}

.cost__flex .cost__item .cost__plan-contents .cost__plan-marit {
  border-bottom: 1px solid lightgray;
  width: 90%;
  margin: 0 auto 20px auto;
}

.cost__flex .cost__item .cost__plan-contents .cost__plan-apply {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  background-color: #e37ab0;
  border-radius: 25px;
  text-align: center;
  background-color: lightgray;
  color: black;
}

.cost__flex .cost__item .cost__plan-contents a {
  width: 80%;
  display: block;
  margin: 0 auto 20px auto;
}

.cib {
  background-color: #6f99e3;
  border-radius: 15px 15px 0 0;
}

.cib p {
  margin: 0;
  padding: 20px 0;
}

.cip {
  background-color: #e37ab0;
  border-radius: 15px 15px 0 0;
}

.cip p {
  margin: 0px 0;
  padding: 20px 0;
}

@media screen and (max-width: 480px) {
  .cost__flex {
    flex-direction: column;
    width: 85%;
  }
  .cost__flex .cost__item {
    width: 100%;
  }
}

.container__little {
  width: 55%;
  margin: 0 auto;
}

.question__box {
  margin-bottom: 30px;
}

.question__box .question__title {
  display: flex;
  align-items: center;
  color: #e37ab0;
  border: #e37ab0 1px solid;
  border-radius: 10px;
  padding: 25px;
  margin: none;
  margin-bottom: 20px;
  font-size: 25px;
}

.question__box .question__title .question__Q {
  padding-right: 15px;
}

.question__box .question__answer {
  display: flex;
  padding: 0px 10px;
  font-size: 18px;
}

.question__box .question__answer .question__A {
  color: #6f99e3;
  padding: 0px 10px;
  font-size: 25px;
  align-items: flex-start;
}

@media screen and (max-width: 480px) {
  .container__little {
    width: 85%;
  }
  .container__little .question__box .question__title .question__ttl-text {
    font-size: 16px;
  }
  .container__little .question__box .question__answer {
    align-items: flex-start;
  }
  .container__little .question__box .question__answer .question__A {
    padding: 0px 10px;
  }
}

.tryit {
  padding: 25px 0;
  margin: 25px 0;
  margin-bottom: 0;
  background-color: #e37ab0;
}

.tryit .white {
  color: white;
}

.tryit .tryit__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.tryit .view__materials {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  background-color: #e37ab0;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  background-color: #6f99e3;
  width: 35%;
  margin-right: 30px;
  font-size: 20px;
  padding: 15px;
}

.tryit .view--c-account {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  background-color: #e37ab0;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  background-color: white;
  border: 2px solid #e37ab0;
  color: #e37ab0;
  width: 35%;
  font-size: 20px;
  padding: 15px;
}

@media screen and (max-width: 480px) {
  .tryit .tryit__ttl {
    font-size: 20px;
    padding: 0px 10px;
  }
  .tryit__flex .tryit__link {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .tryit__flex .tryit__link a {
    width: 85%;
    padding: 10px 0;
    margin: 0 auto;
  }
  .tryit__flex .tryit__link .view__materials {
    margin-bottom: 10px;
  }
}

.end-link {
  background-color: #FFDFF7;
  padding: 25px 0;
  margin-bottom: 0px;
}

.end-link__flex-content {
  display: flex;
  justify-content: space-between;
}

.end-link__flex-content .end-link__imgflame {
  width: 15%;
}

.end-link__flex-content .end-link__imgflame .end-link__img img {
  width: 100%;
}

.end-link__flex-content .end-link__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 20px 0 30px;
}

.end-link__flex-content .end-link__flex .end-link__flex-item li {
  list-style: none;
  margin-bottom: 10px;
}

.end-link__flex-content .end-link__flex .end-link__flex-item a {
  text-decoration: none;
}

.end-link__flex-content .end-link__flex .left {
  margin: left;
}

@media screen and (max-width: 480px) {
  .end-link__flex-content {
    flex-direction: column;
    justify-content: left;
  }
  .end-link__flex-content .end-link__imgflame {
    margin-bottom: 15px;
  }
  .end-link__flex-content .end-link__flex {
    flex-direction: column;
    align-items: flex-start;
  }
  .end-link__flex-content .end-link__flex .end-link__flex-item {
    margin: 0;
  }
  .end-link__flex-content .end-link__flex .end-link__flex-item li {
    margin-bottom: 10px;
  }
  .end-link__flex-content .end-link__flex .left {
    margin: 0;
  }
}

footer {
  text-align: center;
  background-color: #FFDFF7;
  padding-bottom: 10px;
}
